/* reset */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 6px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #545454;
}

.top {
  height: 30px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
}

.account-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
}

.account-links li {
  display: inline-block;
  padding: 0 5px;
}

.account-links li a {
  color: #bf9764;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.logo {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  height: 45px;
  border: 1px solid rgb(225, 225, 225);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul {
  list-style-type: none;
  border-right: 1px solid rgb(225, 225, 225);
}

.main-nav ul li {
  height: 45px;
  display: inline-block;
  padding: 0 5px;
  border-left: 1px solid rgb(225, 225, 225);
}

.main-nav ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #bf9764;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 45px;
}

.hero {
  background-image: url('images/background.jpg');
  height: 100vw;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 50px 0;
}
